.heading{
    letter-spacing: 10px;
    font-size: 18px;
    border-radius: 10px;
  }
  .button{
    background-color: white;
    color: green;
    border-radius: 50px;
  }
  
  .label{
    border-radius: 65px;
    font-size: 14px;
    padding: 6px
  }
  #camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}